// Font Face Declarations
@font-face {
    font-family: "Geldwine";
    src: url("/assets/fonts/Geldwine-Bold.ttf") format("truetype"),
         url("/assets/fonts/Geldwine-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Add more @font-face declarations for different font weights and styles if needed
@font-face {
    font-family: "Geldwine"; 
    src: url("/assets/fonts/Geldwine-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geldwine";
    src: url("/assets/fonts/Geldwine-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// Add more @font-face declarations for different font weights and styles
// Example:
/*
@font-face {
    font-family: "YourFontName";
    src: url("../fonts/your-font-bold.woff2") format("woff2"),
         url("../fonts/your-font-bold.woff") format("woff"),
         url("../fonts/your-font-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*/ 