/* ---------------------------------------------------------
    * Name: Motorx
    * Version: 1.0.0
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable
    
    * Reset css styles
   
    * Components
        * alert
    
    * widget

    * Pages
        * home 
	
 ------------------------------------------------------------------------------ */
/*--------- Fonts ---------- */
@import "./abstracts/fonts";

/*--------- Abstracts variable ---------- */
@import "./abstracts/index";

/*---------- Reset css styles ----------- */
@import "reset";

/*--------- Animation ---------- */
@import "./../css/animation.css";

/*--------- Map ---------- */
@import "./../css/map.min.css";

/*--------- Magnific-popup ---------- */
@import "./../css/magnific-popup.min.css";

/*--------- Animate ---------- */
@import "./../css/animate.min.css";

/*--------- Swiper ---------- */
@import "./../css/swiper-bundle.min.css";

/*--------- Icons ---------- */
@import "./../icon/icomoon/style.css";

/*--------- Bootstrap ---------- */
@import "./../css/bootstrap.css";

/*------------ Components ---------------- */
@import "./component/index";

/*--------------- widget ---------------- */
@import "widgets";

/*--------- Responsive ---------- */
@import "responsive";

/*--------- RTL Styles ---------- */
@import "rtl";

#line-chart-1 {
    height: 515px !important;
}

.dash-count {
    .dashboard-count {
        font-size: 26px !important;
        font-weight: 800 !important;
        line-height: 32px !important;
        color: #1C2136 !important;
    }
}